.sub-container-2 {
    padding: 50px;
    background-color: #1b1d1f;
    text-align: center;
}

.sub-container-2 form p {
    font-size: x-large;
    letter-spacing: 3px;
    font-family: Agency Fb;
    color: white;
}

.mat-button-container {
    cursor: pointer;
}

.mat-form-field {
    margin: 10px auto;
    display: blocks;
    width: 400px;
    background: rgb(33, 53, 71);
}

.mat-form-field input {
    color: white;
}

.mat-raised-button {
    margin: 30px auto;
    display: block;
    width: 400px;
}

.parent {
    display: flex;
    /* flex-direction: column; */
    width: auto;
    height: 100vh;
    background-color: #1b1d1f;
    flex-wrap: wrap;
    justify-content: center;
}

@media screen and (max-width:600px) {
    .parent {
        display: flex;
        /* flex-direction: column; */
        width: auto;
        height: auto;
        background-color: #1b1d1f;
        flex-wrap: wrap;
        justify-content: center;
    }
    .mat-form-field {
        margin: 10px auto;
        display: blocks;
        width: auto;
        background: rgb(33, 53, 71);
    }
    .mat-raised-button {
        margin: 30px auto;
        display: block;
        width: auto;
    }

    .sub-container-2 form p {
        font-size: 1rem;
        letter-spacing: 3px;
        font-family: Agency Fb;
        color: white;
    }
}
