<div class="parent">
  <div class="sub-container-2">
    <form [formGroup]="generateOtp" (ngSubmit)="sendOtp()">
      <p>OTP WILL BE SENT TO YOUR REGISTERED EMAIL</p>
      <div class="field-container">
        <mat-form-field appearance="fill" color="accent">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" type="email" />
          <mat-error *ngIf="otpform.email.errors?.required"
            >email is reqiured</mat-error
          >
          <mat-error *ngIf="otpform.email.errors?.minlength"
            >email must have atleast 6 characters
          </mat-error>
          <mat-error *ngIf="otpform.email.errors?.maxlength"
            >email must have less than 40 characters
          </mat-error>
        </mat-form-field>
      </div>
      <div class="field-container">
        <mat-form-field appearance="fill" color="accent">
          <mat-label>Mobile Number</mat-label>
          <input matInput formControlName="mobilenumber" />
          <mat-error *ngIf="otpform.mobilenumber.errors?.required"
            >mobilenumber is reqiured</mat-error
          >
          <mat-error *ngIf="otpform.mobilenumber.errors?.minlength"
            >mobilenumber must have atleast 6 characters
          </mat-error>
          <mat-error *ngIf="otpform.mobilenumber.errors?.maxlength"
            >mobilenumber must have 10 digits
          </mat-error>
        </mat-form-field>
      </div>

      <div class="field-container">
        <button mat-raised-button color="accent" type="submit">Send Otp</button>
      </div>
    </form>
  </div>

  <!-- ENTER OTP AND NEW PASSWORD -->

  <div class="sub-container-2">
    <form [formGroup]="otpWithNewPassword" (ngSubmit)="newPasswordWithOtp()">
      <p>ENTER THE OTP RECIEVED ON EMAIL AND NEW PASSWORD</p>
      <div class="field-container">
        <mat-form-field appearance="fill" color="accent">
          <mat-label>OTP</mat-label>
          <input matInput formControlName="otp" type="number" />
          <mat-error *ngIf="otpWithNewPasswordForm.otp.errors?.required"
            >otp is reqiured</mat-error
          >
          <mat-error *ngIf="otpWithNewPasswordForm.otp.errors?.minlength"
            >otp must have atleast 6 characters
          </mat-error>
          <mat-error *ngIf="otpWithNewPasswordForm.otp.errors?.maxlength"
            >otp must have less than 40 characters
          </mat-error>
        </mat-form-field>
      </div>
      <div class="field-container">
        <mat-form-field appearance="fill" color="accent">
          <mat-label>New Password</mat-label>
          <input
            matInput
            formControlName="newPassword"
            [type]="hide ? 'password' : 'text'"
          />

          <button
            mat-icon-button
            matSuffix
            (click)="hide = !hide"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide"
          >
            <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
          <mat-error *ngIf="otpWithNewPasswordForm.newPassword.errors?.required"
            >password is reqiured</mat-error
          >
          <mat-error
            *ngIf="otpWithNewPasswordForm.newPassword.errors?.minlength"
            >password must have atleast 6 characters
          </mat-error>
          <mat-error
            *ngIf="otpWithNewPasswordForm.newPassword.errors?.maxlength"
            >password must have less than 40 characters
          </mat-error>
        </mat-form-field>
      </div>
      <div class="field-container">
        <mat-form-field appearance="fill" color="accent">
          <mat-label>Confirm Password</mat-label>
          <input
            matInput
            formControlName="newConfPassword"
            pattern="{{ otpWithNewPasswordForm.newPassword.value }}"
            [type]="hide ? 'password' : 'text'"
          />

          <button
            mat-icon-button
            matSuffix
            (click)="hide = !hide"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide"
          >
            <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
          <mat-error
            *ngIf="otpWithNewPasswordForm.newConfPassword.errors?.required"
            >password is reqiured</mat-error
          >
          <mat-error
            *ngIf="otpWithNewPasswordForm.newConfPassword.errors?.minlength"
            >password must have atleast 6 characters
          </mat-error>
          <mat-error
            *ngIf="otpWithNewPasswordForm.newConfPassword.errors?.maxlength"
            >password must have less than 40 characters
          </mat-error>
          <mat-error
            *ngIf="otpWithNewPasswordForm.newConfPassword.errors?.pattern"
            >confirm password does not match
          </mat-error>
        </mat-form-field>
      </div>
      <div class="field-container">
        <button mat-raised-button color="accent" type="submit">
          Change Password
        </button>
      </div>
    </form>

    <a
      mat-raised-button
      color="accent"
      style="text-decoration: none"
      routerLink="/login"
      >Go Back</a
    >
  </div>
</div>
