<body>

    <div class="container">
        <h1> <u>Rules</u> </h1>
        <h4>1. Register by putting Rs 100.</h4>
        <h4>2. You will get Rs 100 X 5 = 500 points.</h4>
        <h4>3. On each match, you can bet minimum 10 points on any team (few matches have higher minimum points).</h4>
        <h4>4. If you do not bet on any match, your bet will be put automatically on the losing team of 10 points.</h4>
        <h4>5. Simple principle "Winners win what losers lose in that match, in the same proportion of their bet".</h4>
        <h4>6. Losers do not get anything from losing match.</h4>
        <h4>7. Your total points will be visible in the Profile Tab.</h4>
        <h4>8. You can bet anytime, update any number of times and any amount until the match has started.</h4>

        <hr>

        <p><u><b> Distribution among winners at the end of IPL Season</b></u></p>
        <h4> Once all the matches are over, the top 3 winners will get amount divided in the proportion of their winning shares. The amount to be divided will be the total collection for this season. If there are 30 participants, then the total amount will
            be = Rs 100 X 30 = 3000. If the top 3 winners have points as 2800, 1000, 700, then the top winner would get = (2800 / (2800 + 1000 + 700)) * 3000 = (2800 / 4500) * 3000 = 1866</h4>
        <p><u><b> Note :</b></u></p>
        The final few matches may have bet restriction to 20 % of their balance amount.

        <hr>

        <p> <u><b> Terms and Conditions</b></u></p>
        <h4> All the players would be bound by the terms and conditions of the game. In case of any discrepancy or dispute, the organizer's decision will be final and binding </h4>
    </div>

</body>