<body [style.background-image]="'url(' + profile + ')'">
    <div class="wrapper">
        <div class="left">
            <img src="{{userData?.profilePicture}}" loading="lazy" alt="{{userData.firstName.substr(0,1)+userData.lastName.substr(0,1)}}">
            <!-- onerror="this.src='assets/img/user.png'" -->
            <h4> {{userData?.firstName | uppercase}} {{userData?.lastName | uppercase}} </h4>
            <p> @{{userData?.username}}</p>
        </div>
        <div class="right">
            <!-- <div class="info">
                <h3>information</h3>
                <div class="info_data">
                    <div class="data">
                        <h4>Email</h4>
                        <mat-icon class="emicon">email</mat-icon>
                        <p> {{userData?.email}} </p>
                    </div>
                    <div class="data">
                        <h4>Phone</h4>
                        <mat-icon class="emicon">phone_iphone</mat-icon>
                        <p>{{userData?.mobileNumber}}</p>
                    </div>
                </div>
            </div> -->
            <div class="projects">
                <h3>Bet history</h3>
                <div class="projects_data">
                    <div class="data">
                        <h4>Available Points</h4>
                        <!-- <p class="blue" *ngFor="let userstats of userStats"> {{userstats?.availablePoints}}</p> -->
                        <p class="blue"> {{userData?.availablePoints}} </p>
                    </div>
                    <div class="data">
                        <h4>Winning Points</h4>
                        <p class="green"> {{usersWinningLoosingPoints?.winningPoints}} </p>
                        <p class="green p_lower"> ({{usersWinningLoosingPoints?.numberOfWinningMatches}} Matches) </p>
                    </div>
                    <div class="data">
                        <h4>Loosing Points</h4>
                        <p class="red"> {{usersWinningLoosingPoints?.losingPoints}} </p>
                        <p class="red p_lower"> ({{usersWinningLoosingPoints?.numberOfLosingMatches}} Matches) </p> 
                    </div>
                </div>
            </div>
            <div class="social_media">
                <ul>
                    <!-- <li href=""><i class="fab fa-facebook-f"></i></li>
                    <li href=""><i class="fab fa-twitter"></i></li>
                    <li href=""><i class="fab fa-instagram-square"></i></li> -->
                    <!-- <li>
                        <mat-icon>manage_accounts</mat-icon>
                    </li> -->
                </ul>
            </div>
        </div>
    </div>
</body>
