<div class="sub-container-1-inner" *ngIf='!isloading'>
    <form [formGroup]="botForm" (ngSubmit)="PlaceBet()">
        <div class="title">
            <span> {{checkk?.contestPoints ? 'Update Bet' : 'Place Bet'}} </span>
        </div>
        <!-- <div class="field-container">
            <mat-form-field appearance="fill" *ngIf="botData">
                <mat-label>ID</mat-label>
                <input matInput formControlName="contestId">
            </mat-form-field>
        </div> -->

        <div class="field-container">
            <!-- <mat-form-field appearance="fill" color="accent"> -->
            <mat-label>Select Team</mat-label>

            <mat-radio-group formControlName="selectTeam">
                <mat-radio-button value="{{matchData?.team1Id}}" type="number" [checked]="matchData?.team1Id === checkk?.teamId">{{matchData?.team1}}</mat-radio-button>
                <mat-radio-button value="{{matchData?.team2Id}}" type="number" [checked]="matchData?.team2Id === checkk?.teamId">{{matchData?.team2}}</mat-radio-button>
            </mat-radio-group>
            <!-- <input matInput formControlName="selectTeam" autocomplete="off"> -->
            <!-- <mat-error *ngIf="form.selectTeam.errors?.required "> Select a Team to place bet</mat-error> -->


            <!-- </mat-form-field> -->
        </div>

        <div class="field-container">
            <mat-form-field appearance="fill" color="accent">
                <mat-label>Bet Points</mat-label>
                <input matInput formControlName="contestPoints" (change)="minPointsValidator($event)" (change)="availableContestPointsValidator($event)" type="number" autocomplete="off">
                <mat-error *ngIf="form.contestPoints.errors?.required">Bet Points is Required</mat-error>
                <!-- <mat-error *ngIf="form.contestPoints.errors?.minLength">minimum contestPoints must have atleast 2 digit
                </mat-error>
                <mat-error *ngIf="form.contestPoints.errors?.maxlength">minimum contestPoints must have less than 3 digit
                </mat-error> -->
                <mat-error *ngIf="form.contestPoints.errors?.pattern">
                    Minimum Points is {{matchData.minimumPoints}}
                </mat-error>
                <mat-error (change)="minPointsValidator($event)">
                    Minimum Points is {{matchData?.minimumPoints}}
                </mat-error>
                <mat-error *ngIf="botData?.contestId" (change)="availableContestPointsValidator($event)">
                    Available Points + Bet Points of This Match = {{AvailableContestPoints}}
                </mat-error>
                <mat-error *ngIf="!botData?.contestId" (change)="availablePointsValidator($event)">
                    Available Points = {{userData?.availablePoints}}
                </mat-error>
            </mat-form-field>
        </div>

        <div class="action-container">
            <button mat-raised-button *ngIf="checkk?.userId" color="accent" type="submit">Update Bet</button>
            <!-- [disabled]="!botForm.valid" -->
            <button mat-raised-button *ngIf="!checkk?.userId" color="accent" type="submit"> Place Bet</button>
            <!-- {{fetchBotDetails.contestPoints === ''? 'Place Bet' : 'Update Bet'}} -->
            <span mat-raised-button class="cancel-btn" (click)="closeDialogBox()">Cancel</span>
        </div>
    </form>
</div>

<div *ngIf='isloading'>
  <img src="{{teamLoader[selectedTeamId]}}" alt="">
</div>
