<!-- 21:9 aspect ratio -->
<!-- <div class="embed-responsive embed-responsive-21by9">
    <iframe class="embed-responsive-item" is="x-frame-bypass" src="https://www.hotstar.com/in/sports/sports/match-44-csk-vs-mi/embed/2001755628"></iframe>
</div>

<hr> -->

<div id="carouselExampleIndicators" class="carousel slide container-fluid" data-ride="carousel" data-interval="4000">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="carousel-item active" style="background-image: url('{{chennai2021}}')">
            <div class="carousel-caption d-none d-md-block">
                <h2 class="display-4">Game On!</h2>
                <p class="lead">Luck is what happens when preparation meets opportunity.</p>
            </div>
        </div>
        <div class="carousel-item" style="background-image: url('{{trophy}}')">
            <div class="carousel-caption d-none d-md-block">
                <!-- <h2 class="display-4" style="color: black; font-weight: bolder;">Get Prepared!</h2> -->
                <h2 class="display-4" >Get Prepared!</h2>
                <p class="lead">Only 1 Team Stands at Last.</p>
                <!-- <p class="lead" style="color: black; font-weight: bolder;">Only 1 Team Stands at Last.</p> -->
            </div>
        </div>
        <div class="carousel-item" style="background-image: url('{{allteams}}')">
            <div class="carousel-caption d-none d-md-block">
                <!-- <h2 class="display-4" >Place Bet on Your Favourite Team</h2> -->
                <h2 class="display-4" style="color: rgb(23, 211, 48); font-weight: bolder;">Place Bet on Your Favourite Team</h2>
                <p class="lead" style="color: rgb(48, 219, 85); font-weight: bolder;">If you must play, decide upon three things at the start: the rules of the game, the stakes, and the quitting time</p>
                <!-- <p class="lead">If you must play, decide upon three things at the start: the rules of the game, the stakes, and the quitting time</p> -->
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
