<!-- Footer -->
<footer class=" text-center text-lg-start customf">

    <!-- Copyright -->
    <div *ngIf="isRoleAdmin()" class="text-center p-3 footer-content" style="background-color: rgba(0, 0, 0, 0.2);">

        <h6 class="text-light">© 2022, BBD IPL, All rights reserved</h6>
        <span class="example-spacer"></span>
        <h6 class="text-light"><a routerLink="Admin/about-us">About Us</a></h6>

        <h6 class="text-light"><a routerLink="Admin/contact-us">Contact Us</a></h6>

        <h6 class="text-light"><a routerLink="Admin/rules">Rules </a></h6>

    </div>

    <!-- Copyright -->
    <div *ngIf="isRoleUser()" class="text-center p-3 footer-content" style="background-color: rgba(0, 0, 0, 0.2);">

        <h6 class="text-light">© 2022, BBD IPL, All rights reserved </h6>
        <span class="example-spacer"></span>
        <h6 class="text-light"><a routerLink="User/about-us">About Us</a></h6>

        <h6 class="text-light"><a routerLink="User/contact-us">Contact Us</a></h6>

        <h6 class="text-light"><a routerLink="User/rules">Rules </a></h6>

    </div>

</footer>
<!-- Footer -->
