* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    font-weight: 500;
}

form {
    margin-top: 50px;
    text-align: center;
    margin: auto;
    background: blur;
}


/* mat-form-field {
    display: block;
    width: 250px;
    border: none;
    outline: none;
    border-bottom: 1px solid white;
} */

.btnlog {
    border: none;
    outline: none;
    height: 50px;
    width: 90%;
    background-color: black;
    color: white;
    border-radius: 4px;
    font-weight: bold;
}

.btnlog:hover {
    background: white;
    border: 1px solid;
    color: black;
}

:root {
    font-size: 100%;
    font-size: 16px;
    line-height: 1.5;
}

h1 {
    font-size: 1.5rem;
    font-weight: 700;
}

h2 {
    font-size: 1.5rem;
    font-weight: 700;
}

a {
    text-decoration: none;
    color: blue;
}

a:hover {
    text-decoration: underline;
}

.small {
    font-size: 80%;
    text-align: center;
}

.split-screen {
    display: flex;
    flex-direction: column;
}

.left {
    height: 200px;
}

.left,
.right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.left {
    background-size: cover;
}

.right {
    background-color: #F0FFFF;
}

.left .copy {
    color: white;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: grayscale;
}

.left p {
    font-weight: 400;
}

.right .copy {
    color: black;
    text-align: center;
    padding-bottom: 10px;
}

.right .copy p {
    margin: 1.5em 0;
    font-size: 0.875rem;
}

mat-label {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 0.75rem;
}

@media screen and (min-width: 700px) {
    .split-screen {
        flex-direction: row;
        height: auto;
        min-height: 100vh;
    }
    .left,
    .right {
        display: flex;
        width: 50%;
        height: auto;
        min-height: 100vh;
    }
    .inner-container {
        min-width: 10px;
        max-width: 500px;
        width: 100%;
        justify-content: space-around;
        min-height: 100vh;
    }
}

input {
    /* border-radius: 8px; */
    display: block;
    box-sizing: border-box;
}

.inner-container {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-around;
    flex-wrap: wrap;
}

mat-form-field {
    width: 100%;
}

.mat-button-container {
    cursor: pointer;
}

.field-icon {
    float: right;
    margin-left: -25px;
    margin-top: -25px;
    position: relative;
    z-index: 2;
}

mat-radio-button {
    padding: 10px;
}

.loginnow:hover{
  background-color: rgb(92, 92, 167);
  color: #F0FFFF;
  border-radius: 10px;
  padding: 6px;
  text-decoration: none;
}

@media only screen and (max-width: 480px) {

    h1 {
        font-size: 1.4rem;
        font-weight: 400;
    }

}
