<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
</head>

<body>
    <div class="split-screen">
        <div class="left" [style.background-image]="'url(' + image + ')'">
            <section class="copy">
                <h1>Sign up to start winning Big</h1>
                <p>Place Bets on your favourite team</p>
            </section>
        </div>
        <div class="right">
            <form [formGroup]="signupForm" (ngSubmit)="signup()">
                <!-- <div class="form-row">
                <mat-toolbar class="tool" color="primary"> Sign Up to start Winning Big </mat-toolbar>
                <div class="col-lg-7 my-1 p-1">
                </div>
            </div> -->
                <section class="copy">
                    <h2>Sign Up</h2>
                    <!-- <p> already have an account! <a [routerLink]="'/login'">Login now.</a></p> -->
                </section>
                <div class="inner-container container" fxFlexFill="auto" fxLayoutGap="20px">
                    <!-- <div class="first"> -->
                    <!-- <div class="container"> -->
                    <div class="field-container">
                        <mat-form-field appearance="fill" color="accent">
                            <mat-label>First Name</mat-label>
                            <input matInput formControlName="firstname" autocomplete="off">
                            <mat-error *ngIf="form.firstname.errors?.required">first name is reqiured
                            </mat-error>
                            <mat-error *ngIf="form.firstname.errors?.minlength">first name must have atleast 4 characters</mat-error>
                            <mat-error *ngIf="form.firstname.errors?.maxlength">first name must have less than 100 characters</mat-error>
                            <mat-error *ngIf="form.firstname.errors?.pattern">first name is invalid
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div class="field-container">
                        <mat-form-field appearance="fill" color="accent">
                            <mat-label>Last Name</mat-label>
                            <input matInput formControlName="lastname" autocomplete="off">
                            <mat-error *ngIf="form.lastname.errors?.required">last name is reqiured
                            </mat-error>
                            <mat-error *ngIf="form.lastname.errors?.minlength">last name must have atleast 3 characters</mat-error>
                            <mat-error *ngIf="form.lastname.errors?.maxlength">last name must have less than 100 characters</mat-error>
                            <mat-error *ngIf="form.lastname.errors?.pattern">last name is invalid
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div class="field-container">
                        <mat-form-field appearance="fill" color="accent">
                            <mat-label>Email</mat-label>
                            <input matInput formControlName="email" autocomplete="off">
                            <mat-error *ngIf="form.email.errors?.required">email is reqiured
                            </mat-error>
                            <mat-error *ngIf="form.email.errors?.maxlength">email must have less than 30 characters</mat-error>
                            <mat-error *ngIf="form.email.errors?.email">email is invalid</mat-error>
                            <mat-error *ngIf="form.email.errors?.pattern">only BBD email is allowed
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div class="field-container">
                        <mat-form-field appearance="fill" color="accent">
                            <mat-label>Phone no.</mat-label>
                            <input matInput formControlName="phone" autocomplete="off">
                            <mat-error *ngIf="form.phone.errors?.required">phone no. is reqiured</mat-error>
                            <mat-error *ngIf="form.phone.errors?.minlength || form.phone.errors?.maxlength || form.phone.errors?.pattern">
                                phone no. is invalid
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div class="field-container">
                        <mat-form-field appearance="fill" color="accent">
                            <mat-label>Profile Pic</mat-label>
                            <ngx-mat-file-input formControlName="profilePicture">
                                <i class="fa fa-folder-open-o" aria-hidden="true"></i>
                            </ngx-mat-file-input>
                            <!-- <mat-error *ngIf="form.profilePicture.errors?.required">
                                    is reqiured
                                </mat-error>
                                <mat-error *ngIf="form.profilePicture.errors?.minlength">
                                    must have atleast 4 characters
                                </mat-error>
                                <mat-error *ngIf="form.profilePicture.errors?.maxlength">
                                    must have less than 500 characters
                                </mat-error> -->
                        </mat-form-field>
                    </div>

                    <!-- </div> -->

                    <!-- <div class="second"> -->

                    <div class="field-container">
                        <mat-form-field appearance="fill" color="accent">
                            <mat-label>Username</mat-label>
                            <input matInput formControlName="username" autocomplete="off">
                            <mat-error *ngIf="form.username.errors?.required">username is reqiured
                            </mat-error>
                            <mat-error *ngIf="form.username.errors?.minlength">username must have atleast 4 characters
                            </mat-error>
                            <mat-error *ngIf="form.username.errors?.maxlength">username must have less than 50 characters
                            </mat-error>
                            <mat-error *ngIf="form.username.errors?.pattern">no special characters are allowed
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div class="field-container">
                        <mat-form-field appearance="fill" color="accent">
                            <mat-label>Password</mat-label>
                            <input matInput formControlName="password" [type]="hide ? 'password' : 'text'">
                            <span (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide" class="fa fa-fw fa-eye field-icon "></span>
                            <mat-error *ngIf="form.password.errors?.required">password is reqiured
                            </mat-error>
                            <mat-error *ngIf="form.password.errors?.minlength">password must have atleast 6 characters
                            </mat-error>
                            <mat-error *ngIf="form.password.errors?.maxlength">password must have less than 40 characters
                            </mat-error>
                            <mat-error *ngIf="form.password.errors?.pattern">password must contain atleast 1 letter, digits, special character
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div class="field-container">
                        <mat-form-field appearance="fill" color="accent">
                            <mat-label>Confirm Password</mat-label>
                            <input matInput formControlName="confPassword" [type]="hide ? 'password' : 'text'" pattern="{{form.password.value}}">
                            <span (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide" class="fa fa-fw fa-eye field-icon "></span>
                            <mat-error *ngIf="form.confPassword.errors?.required">confirm password is reqiured
                            </mat-error>
                            <mat-error *ngIf="form.confPassword.errors?.minlength">confirm password must have atleast 6 characters</mat-error>
                            <mat-error *ngIf="form.confPassword.errors?.maxlength">confirm password must have less than 40 characters</mat-error>
                            <mat-error *ngIf="form.confPassword.errors?.pattern">confirm password does not match
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div class="field-container">
                        <!-- <mat-form-field appearance="fill" color="accent"> -->
                        <!-- <mat-label> Gender </mat-label> -->
                        <mat-radio-group formControlName="gender">
                            <mat-radio-button value="1" type="number">Male</mat-radio-button>
                            <mat-radio-button value="2" type="number">Female</mat-radio-button>
                        </mat-radio-group>
                        <!-- <mat-error style="font-size: 10px;" *ngIf="form.gender.errors?.required">select gender</mat-error> -->
                        <!-- </mat-form-field> -->
                    </div>

                    <!-- </div> -->
                    <!-- </div> -->
                </div>
                <div>
                    <button type="submit" mat-raised-button matRipple class="btnlog mt-2 mb-2">Sign Up</button>
                    <!-- <button mat-raised-button class="btnlog mt-2 mb-2" matRipple routerLink="/login">Already Have an Account? Sign In </button> -->
                    <p> Already have an account! <a class='loginnow' [routerLink]="'/login'">Login now</a>
                </div>

            </form>
        </div>
    </div>

</body>

</html>
