.sub-container-2 {
  height: 100%;
  padding: 50px;
  background-color: aqua;
  text-align: center;
}

.sub-container-2 form p {
  font-size: 30px;
  letter-spacing: 3px;
  font-family: Agency Fb;
  color: rgb(15, 14, 14);
}

.mat-button-container {
  cursor: pointer;
}

.mat-form-field {
  margin: 10px auto;
  display: blocks;
  width: 400px;
}

.mat-form-field input {
  /* color: white; */
  color: black;
}

.mat-raised-button {
  margin: 30px auto;
  display: block;
  width: 400px;
}

.mat-dialog-container {
  background-color: aqua;
}

@media only screen and (max-width: 480px) {

    .sub-container-2 {
        max-height: 90vh;
        padding: 0;
        margin-top: 20px;
        background-color: aqua;
        text-align: center;
        overflow-y: auto;
        width: 220px;
      }

      .sub-container-2 form p {
        font-size: 1rem;
        letter-spacing: 1px;
        font-family: Agency Fb;
        color: rgb(15, 14, 14);
        font-weight: bolder;
      }

      .mat-form-field {
        margin: 0;
        display: blocks;
        width: 200px;
      }

      .mat-raised-button {
        margin: 30px auto;
        display: block;
        width: auto;
      }
}
