<div class="sub-container-2">
    <form [formGroup]="changePasswordForm">
        <p *ngIf="loginStateService.role==='User'">USER CHANGE PASSWORD</p>
        <p *ngIf="loginStateService.role==='Admin'">ADMIN CHANGE PASSWORD</p>
        <div class="field-container">
            <mat-form-field appearance="fill" color="accent">
                <mat-label>Current Password</mat-label>
                <input matInput formControlName="currentPassword" [type]="hide ? 'password' : 'text'">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide" type="button">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </button>
                <mat-error *ngIf="form.currentPassword.errors?.required">password is reqiured</mat-error>
                <mat-error *ngIf="form.currentPassword.errors?.minlength">password must have atleast 6 characters
                </mat-error>
                <mat-error *ngIf="form.currentPassword.errors?.maxlength">password must have less than 40 characters
                </mat-error>
            </mat-form-field>
        </div>
        <div class="field-container">
            <mat-form-field appearance="fill" color="accent">
                <mat-label>New Password</mat-label>
                <input matInput formControlName="newPassword" [type]="hide1 ? 'password' : 'text'">
                <button mat-icon-button matSuffix (click)="hide1 = !hide1" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide1" type="button">
                    <mat-icon>{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </button>
                <mat-error *ngIf="form.newPassword.errors?.required">password is reqiured</mat-error>
                <mat-error *ngIf="form.newPassword.errors?.minlength">password must have atleast 6 characters
                </mat-error>
                <mat-error *ngIf="form.newPassword.errors?.maxlength">password must have less than 40 characters
                </mat-error>
            </mat-form-field>
        </div>
        <div class="field-container">
            <mat-form-field appearance="fill" color="accent">
                <mat-label>Confirm Password</mat-label>
                <input matInput formControlName="newConfPassword" pattern="{{form.newPassword.value}}" [type]="hide2 ? 'password' : 'text'">
                <button mat-icon-button matSuffix (click)="hide2 = !hide2" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide2" type="button">
                    <mat-icon>{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </button>
                <mat-error *ngIf="form.newConfPassword.errors?.required">password is reqiured</mat-error>
                <mat-error *ngIf="form.newConfPassword.errors?.minlength">password must have atleast 6 characters
                </mat-error>
                <mat-error *ngIf="form.newConfPassword.errors?.maxlength">password must have less than 40 characters
                </mat-error>
                <mat-error *ngIf="form.newConfPassword.errors?.pattern">confirm password does not match
                </mat-error>
            </mat-form-field>
        </div>
        <div class="field-container">
            <button mat-raised-button color="accent" type="submit" (click)="changePassword()">Change Password Now!</button>
            <button mat-raised-button color="warn" (click)="closeDialogBox()">Cancel</button>
        </div>
    </form>
</div>