<body class="pt-0 pb-0 mt-0 mb-0">
    <mat-tab-group mat-align-tabs="center">

        <mat-tab label="Upcoming">

            <!-- <div class="card" *ngFor="let upcomingmatches of upcomingMatches" routerLink="/User/match-list/betting-page/{{upcomingmatches.matchId}}"> -->

            <div class="alt" *ngIf="upcomingMatches?.length==0">
                <h1>No Upcoming Matches, Please Place Bets to Continue</h1>
            </div>

            <div class="card" *ngFor="let upcomingmatches of upcomingMatches" (click)="gotoBettingPage(upcomingmatches.matchId)">

                <div class="left" [style.background]="upcomingmatches.team1Short ? teamColor[upcomingmatches.team1Short] : teamColor.t1" [style.border-top]="upcomingmatches.team1Short ? borderTop[upcomingmatches.team1Short] : borderTop.t1"></div>

                <div class="right" [style.background]="upcomingmatches.team2Short ? teamColor[upcomingmatches.team2Short] : teamColor.t2" [style.border-top]="upcomingmatches.team2Short ? borderTop[upcomingmatches.team2Short] : borderTop.t2"></div>

                <!-- <h2>Upcoming Match No. {{upcomingmatches?.matchId}}</h2> -->
                <h2>{{upcomingmatches?.team1Short}} vs {{upcomingmatches?.team2Short}}</h2>
                <div class="match-details">
                    <div class="team1">
                        <img loading="lazy" style="border-radius: 50%; " src="{{upcomingmatches?.team1Logo}}" />
                        <h3 class="team-name" [style.color]="upcomingmatches.team1Short ? teamFontColor[upcomingmatches.team1Short] : teamFontColor.t1">{{upcomingmatches?.team1Short}} </h3>
                    </div>
                    <div class="details">
                        <!-- <h3 class="date">{{upcomingmatches?.startDatetime | date: 'short': 'UTC'}} IST </h3> -->
                        <h3 class="date">{{upcomingmatches?.startDatetime | date: 'short'}} IST </h3>
                        <h1 class="versus">VS</h1>
                        <h4 class="venue">{{upcomingmatches?.venue}} </h4>
                    </div>
                    <div class="team2">
                        <img loading="lazy" style="border-radius: 50%; " src="{{upcomingmatches?.team2Logo}}" />
                        <h3 class="team-name" [style.color]="upcomingmatches.team2Short ? teamFontColor[upcomingmatches.team2Short] : teamFontColor.t2">{{upcomingmatches?.team2Short}} </h3>
                    </div>
                </div>
            </div>

        </mat-tab>

        <mat-tab label="Live">

            <div class="alt" *ngIf="liveMatch?.length==0">
                <h1>No Live Match Available, Please Come back later</h1>
            </div>

            <div class="card" *ngFor="let livematch of liveMatch" routerLink="view-live-match/{{livematch.matchId}}">

                <div class="left" [style.background]="livematch.team1Short ? teamColor[livematch.team1Short] : teamColor.t1" [style.border-top]="livematch.team1Short ? borderTop[livematch.team1Short] : borderTop.t1">

                </div>

                <div class="right" [style.background]="livematch.team2Short ? teamColor[livematch.team2Short] : teamColor.t2" [style.border-top]="livematch.team2Short ? borderTop[livematch.team2Short] : borderTop.t2">

                </div>

                <!-- <h2>Live Match No. {{livematch?.matchId}}</h2> -->
                <h2>{{livematch?.team1Short}} vs {{livematch?.team2Short}}</h2>
                <div class="match-details">
                    <div class="team1">
                        <img loading="lazy" style="border-radius: 50%; " src="{{livematch?.team1Logo}}" />
                        <h3 class="team-name" [style.color]="livematch.team1Short ? teamFontColor[livematch.team1Short] : teamFontColor.t1">{{livematch?.team1Short}} </h3>
                    </div>
                    <div class="details">
                        <!-- <h3 class="date">{{livematch?.startDatetime | date: 'short': 'UTC'}} IST </h3> -->
                        <h3 class="date">{{livematch?.startDatetime | date: 'short'}} IST </h3>
                        <h1 class="versus">VS</h1>
                        <h4 class="venue">{{livematch?.venue}} </h4>
                    </div>
                    <div class="team2">
                        <img loading="lazy" style="border-radius: 50%; " src="{{livematch?.team2Logo}}" />
                        <h3 class="team-name" [style.color]="livematch.team2Short ? teamFontColor[livematch.team2Short] : teamFontColor.t2">{{livematch?.team2Short}} </h3>
                    </div>
                </div>
            </div>

        </mat-tab>

        <mat-tab label="Results">

            <div class="alt" *ngIf="oldMatches?.length==0">
                <h1>No Matches are played yet, wait for the first match</h1>
            </div>

            <div class="card" *ngFor="let oldmatches of oldMatches" routerLink="view-old-match/{{oldmatches.matchId}}">

                <div class="left" [style.background]="oldmatches.team1Short ? teamColor[oldmatches.team1Short] : teamColor.t1" [style.border-top]="oldmatches.team1Short ? borderTop[oldmatches.team1Short] : borderTop.t1">

                </div>

                <div class="right" [style.background]="oldmatches.team2Short ? teamColor[oldmatches.team2Short] : teamColor.t2" [style.border-top]="oldmatches.team2Short ? borderTop[oldmatches.team2Short] : borderTop.t2">

                </div>

                <!-- <h2>Match No. {{oldmatches?.matchId}} Winner : {{oldmatches.winnerTeamName}} </h2> -->
                <h2 *ngIf="oldmatches.winnerTeamName"> Winner : {{oldmatches.winnerTeamName}} </h2>
                <h2 *ngIf="!oldmatches.winnerTeamName"> Draw / Cancelled </h2>
                <div class="match-details">
                    <div class="team1">
                        <img loading="lazy" style="border-radius: 50%; " src="{{oldmatches?.team1Logo}}" />
                        <h3 class="team-name" [style.color]="oldmatches.team1Short ? teamFontColor[oldmatches.team1Short] : teamFontColor.t1">{{oldmatches?.team1Short}} </h3>
                    </div>
                    <div class="details">
                        <!-- <h3 class="date">{{oldmatches?.startDatetime | date: 'short': 'UTC'}} IST </h3> -->
                        <h3 class="date">{{oldmatches?.startDatetime | date: 'short'}} IST </h3>
                        <h1 class="versus">VS</h1>
                        <h4 class="venue">{{oldmatches?.venue}} </h4>
                    </div>
                    <div class="team2">
                        <img loading="lazy" style="border-radius: 50%; " src="{{oldmatches?.team2Logo}}" />
                        <h3 class="team-name" [style.color]="oldmatches.team2Short ? teamFontColor[oldmatches.team2Short] : teamFontColor.t2">{{oldmatches?.team2Short}} </h3>
                    </div>
                </div>
            </div>

        </mat-tab>

    </mat-tab-group>

</body>