<body>
    <div class="section">
        <div class="container">
            <div class="content-section">
                <div class="title">
                    <h1>Contact Us</h1>
                </div>
                <div class="content">
                    <h3>BBD IPL (Online Fantasy Cricket Game)</h3>
                    <p>
                        Email : info.sportgeek@gmail.com
                    </p>
                    <p>
                        Mobile : 9033481597
                    </p>
                    <!-- <div class="button">
                        <a routerLink>Read More</a>
                    </div> -->
                </div>
                <div class="social">
                    <a href=""><i class="fab fa-facebook-f"></i></a>
                    <a href=""><i class="fab fa-twitter"></i></a>
                    <a href=""><i class="fab fa-instagram"></i></a>
                </div>
            </div>
            <div class="image-section">
                <p class="nav_url" (click)="onNavigate()">Click here to see in Google Maps</p>
            </div>
        </div>
    </div>

</body>
