<div class="sub-container-1-inner">
    <form [formGroup]="userForm" (ngSubmit)="addEmployee()">
        <div class="title">
            <span>{{userData === null ? 'Add User' : 'Update User'}}</span>
        </div>
        <div class="signup-container">
            <div class="first">
                <div class="field-container" *ngIf="userData">
                    <mat-form-field appearance="fill">
                        <mat-label>ID</mat-label>
                        <input matInput formControlName="userId">
                    </mat-form-field>
                </div>
                <div class="field-container">
                    <mat-form-field appearance="fill" color="accent">
                        <mat-label>Username</mat-label>
                        <input matInput formControlName="username" autocomplete="off">
                        <mat-error *ngIf="form.username.errors?.required">username is reqiured</mat-error>
                        <mat-error *ngIf="form.username.errors?.minlength">username must have atleast 4 characters
                        </mat-error>
                        <mat-error *ngIf="form.username.errors?.maxlength">username must have less than 15 characters
                        </mat-error>
                    </mat-form-field>
                </div>
                <!-- <div class="field-container" *ngIf="!userData">
                    <mat-form-field appearance="fill" color="accent">
                        <mat-label>Password</mat-label>
                        <input matInput formControlName="password" type="password">
                        <mat-error *ngIf="form.password.errors?.required">password is reqiured</mat-error>
                        <mat-error *ngIf="form.password.errors?.minlength">password must have atleast 6
                            characters</mat-error>
                        <mat-error *ngIf="form.password.errors?.maxlength">password must have less than 40
                            characters</mat-error>
                    </mat-form-field>
                </div> -->
                <div class="field-container">
                    <mat-form-field appearance="fill" color="accent">
                        <mat-label>First Name</mat-label>
                        <input matInput formControlName="firstName" autocomplete="off">
                        <mat-error *ngIf="form.firstName.errors?.required">First name is reqiured
                        </mat-error>
                        <mat-error *ngIf="form.firstName.errors?.minlength"> name must have atleast 4 characters</mat-error>
                        <mat-error *ngIf="form.firstName.errors?.maxlength"> name must have less than 10 characters</mat-error>
                        <mat-error *ngIf="form.firstName.errors?.pattern"> name is invalid</mat-error>
                    </mat-form-field>
                </div>
                <div class="field-container">
                    <mat-form-field appearance="fill" color="accent">
                        <mat-label>Last Name</mat-label>
                        <input matInput formControlName="lastName" autocomplete="off">
                        <mat-error *ngIf="form.lastName.errors?.required">lastName is reqiured
                        </mat-error>
                        <mat-error *ngIf="form.lastName.errors?.minlength">lastName must have atleast 3 characters</mat-error>
                        <mat-error *ngIf="form.lastName.errors?.maxlength">lastName must have less than 100 characters</mat-error>
                        <mat-error *ngIf="form.lastName.errors?.pattern">lastName is invalid</mat-error>
                    </mat-form-field>
                </div>
                <div class="field-container">
                    <mat-form-field appearance="fill" color="accent">
                        <mat-label>Gender</mat-label>
                        <!-- <input matInput formControlName="genderId" autocomplete="off"> -->
                        <mat-select formControlName="genderId">
                            <mat-option *ngFor="let gender of genderId" [value]="gender.genderId"> {{gender.name}} </mat-option>
                            <!-- <mat-option value="2"> Female </mat-option> -->
                        </mat-select>
                        <mat-error *ngIf="form.genderId.errors?.required">genderId is reqiured</mat-error>
                        <mat-error *ngIf="form.genderId.errors?.minlength">genderId must have atleast 1 digit
                        </mat-error>
                        <mat-error *ngIf="form.genderId.errors?.maxlength">genderId should not be more then 1 digit
                        </mat-error>
                        <mat-error *ngIf="form.genderId.errors?.pattern">genderId must have contain digit
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="field-container">
                    <mat-form-field appearance="fill" color="accent">
                        <mat-label>Profile Pic</mat-label>
                        <ngx-mat-file-input formControlName="profilePicture">
                            <i class="fa fa-folder-open-o" aria-hidden="true"></i>
                        </ngx-mat-file-input>
                        <!-- <mat-error *ngIf="form.profilePicture.errors?.required">
                            is reqiured
                        </mat-error>
                        <mat-error *ngIf="form.profilePicture.errors?.minlength">
                            must have atleast 4 characters
                        </mat-error>
                        <mat-error *ngIf="form.profilePicture.errors?.maxlength">
                            must have less than 500 characters
                        </mat-error> -->
                    </mat-form-field>
                </div>

            </div>
            <div class="second">

                <div class="field-container">
                    <mat-form-field appearance="fill" color="accent">
                        <mat-label>Role</mat-label>
                        <!-- <input matInput formControlName="roleId" autocomplete="off"> -->
                        <mat-select formControlName="roleId">
                            <mat-option *ngFor="let role of roleId" [value]="role.roleId"> {{role.name}} </mat-option>
                            <!-- <mat-option value="2"> User </mat-option> -->
                        </mat-select>
                        <mat-error *ngIf="form.roleId.errors?.required">roleId is reqiured</mat-error>
                        <mat-error *ngIf="form.roleId.errors?.minlength">roleId must have atleast 1 digit
                        </mat-error>
                        <mat-error *ngIf="form.roleId.errors?.maxlength">roleId should not be more then 1 digit
                        </mat-error>
                        <mat-error *ngIf="form.roleId.errors?.pattern">roleId must have contain digit
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="field-container">
                    <mat-form-field appearance="fill" color="accent">
                        <mat-label>Phone no.</mat-label>
                        <input matInput formControlName="mobileNumber" autocomplete="off">
                        <mat-error *ngIf="form.mobileNumber.errors?.required">mobileNumber no. is reqiured</mat-error>
                        <mat-error *ngIf="form.mobileNumber.errors?.minlength || form.mobileNumber.errors?.maxlength || form.mobileNumber.errors?.pattern">
                            mobileNumber no. is invalid
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="field-container">
                    <mat-form-field appearance="fill" color="accent">
                        <mat-label>Available Points</mat-label>
                        <input matInput formControlName="availablePoints" autocomplete="off">
                        <mat-error *ngIf="form.availablePoints.errors?.required">availablePoints is reqiured</mat-error>
                        <mat-error *ngIf="form.availablePoints.errors?.minlength">availablePoints must have atleast 2 digit
                        </mat-error>
                        <mat-error *ngIf="form.availablePoints.errors?.maxlength">availablePoints must have less than 4 digit
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="field-container">
                    <mat-form-field appearance="fill" color="accent">
                        <mat-label>Email</mat-label>
                        <input matInput formControlName="email" autocomplete="off">
                        <mat-error *ngIf="form.email.errors?.required">email is reqiured
                        </mat-error>
                        <mat-error *ngIf="form.email.errors?.maxlength">email must have less than 100 characters</mat-error>
                        <mat-error *ngIf="form.email.errors?.email">email is invalid</mat-error>
                    </mat-form-field>
                </div>

            </div>
        </div>
        <div class="action-container">
            <button mat-raised-button *ngIf="userData" color="accent" type="submit">Update</button>
            <button mat-raised-button *ngIf="!userData" color="accent" type="submit">Add</button>
            <span (click)="closeDialogBox()" class="cancel-btn">Cancel</span>
        </div>
    </form>
</div>